<html>

<head>
 <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <h3>{{title}}</h3>
    <p>about us. {{name}}</p>
    <p>Information about weather applications.</p>

    {{>footer}}
</body>
</html>