<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div>
     {{>header}}
    <h3>{{title}}</h3>
    <p>Created by {{name}}</p>
    <p>Use this site to get your weather!</p>

    <input placeholder="location"></div></br>
    <form>
        <button>Search</button>
    </form>
    </div>
    {{>footer}}

     <script src="/js/app.js"></script>
</body>

</html>